# ===== Python =====
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/

# ===== Flask / Backend =====
instance/
migrations/
*.db
*.sqlite3

# ===== Generated / Runtime =====
data/
crawled_data/
logs/
*.log
*.csv
*.zip


# ===== Frontend =====
node_modules/
build/
dist/
package-lock.json

# ===== IDE / OS =====
.vscode/
.idea/
.DS_Store


.env
back/.env
front/.env